.CartPage-items {
    margin: 0;
    padding: 0;
  }
  .CartPage-items li {
    list-style: none;
  }
  .CartItem-count {
    padding: 5px 10px;
    border: 1px solid #ccc;
  }
  .CartItem-addOne,
  .CartItem-removeOne {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #fff;
  }
  .CartItem-addOne {
    border-left: none;
  }
  .CartItem-removeOne {
    border-right: none;
  }
  